$breakpoints: (
  xsmall: map-get($layout-map, breakpoint-xsmall),
  small: map-get($layout-map, breakpoint-small),
  medium: map-get($layout-map, breakpoint-medium),
  large: map-get($layout-map, breakpoint-large),
  hd: map-get($layout-map, breakpoint-hd),
  mlarge: map-get($layout-map, breakpoint-mlarge),
  fullhd: map-get($layout-map, breakpoint-fullhd),
  xlarge: map-get($layout-map, breakpoint-xlarge),
);
